<div class="container mt-5">
  <h1>Contacto</h1>
  <p>Si deseas ponerte en contacto conmigo, puedes enviarme un correo electrónico a:</p>
  <p><a href="mailto:waza.mango@gmail.com">waza.mango@gmail.com</a></p>
</div>
