.btn{
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
  
.btn:hover{
    color: #fff;
    background-color: #007bffb0!important;
    border-color: #007bffb0 !important;
}