.custom-btn {
    background-color: #28a745; /* Color verde personalizado */
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #218838; /* Cambia el color en el hover */
    color: #fff;
  }
  